@{
    ViewData["Title"] = "Contattaci";
}

<form onsubmit="sendMessage(event)">
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Inserire Email">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Testo del messaggio:</label>
        <input type="text" class="form-control" id="text" placeholder="Inserire testo">
    </div>

    <input type="submit" class="btn btn-primary" value="Invia" />
</form>

<script type="text/javascript">
    function sendMessage(e){
        e.preventDefault;

        axios.post("/api/Messages/Send", {
            email: document.querySelector('#email').value,
            text: document.querySelector('#text').value,
        })
        .then(res => {
            document.querySelector('#email').value = "";
            document.querySelector('#text').value = "";

            alert('Messaggio inviato!');
        })
        .catch(err => {
            console.log(err);
            alert('Dati non validi, riprovare');
        })
    }
</script>